package $!{basePackage}.domain.dto;

import $!{basePackage}.domian.db.$!{domain}DO;
import cn.anseon.fastjava.domain.IBaseDTO;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;

#foreach( $property in $!{propertyList} )
#if($!property.type == "List")
import java.util.List;
#end
#end
/**
 *
 * @author $!{author}
 * @date $!{date}
 */
@Data
@Builder
@Accessors(chain = true)
@AllArgsConstructor
@NoArgsConstructor
public class $!{domain}DTO implements IBaseDTO<$!{domain}DO> {
    /**
     * 文档ID
     */
    private String id;

    #foreach( $property in $!{propertyList} )
private ${property.type} ${property.name};
    #end
}