package $!{basePackage}.domain.dto;

import $!{basePackage}.domian.db.$!{domain}DO;
import cn.anseon.fastjava.domain.IBaseDTO;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;

/**
 *
 * @author $!{author}
 * @date $!{date}
 */
@Data
@Builder
@Accessors(chain = true)
@AllArgsConstructor
@NoArgsConstructor
public class $!{domain}DTO implements IBaseDTO<$!{domain}DO> {
    /**
     * 文档ID
     */
    private String id;
}