package $!{basePackage}.service.impl;

import $!{basePackage}.service.I$!{domain}Service;
import lombok.AllArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;

/**
 *
 * @author $!{author}
 * @date $!{date}
 */
@Slf4j
@Service
@AllArgsConstructor
public class $!{domain}ServiceImpl implements I$!{domain}Service {

}