package $!{basePackage}.domain.vo;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.experimental.Accessors;

#foreach( $property in $!{propertyList} )
#if($!property.type == "List")
import java.util.List;
#end
#end
/**
 *
 * @author $!{author}
 * @date $!{date}
 */
@Data
@Builder
@Accessors(chain = true)
@AllArgsConstructor
@NoArgsConstructor
public class $!{domain}VO {
    /**
     * 文档ID
     */
    private String id;
    #foreach( $property in $!{propertyList} )
private ${property.type} ${property.name};
    #end/**
     * 创建用户
     */
    private String creatorAt;
    /**
     * 创建时间
     */
    private String createAt;
    /**
     * 更新时间
     */
    private String updateAt;
}